*{
  font-size: 40px;
}

h1 {
  background-color: aqua;
}

body {
  background-color: antiquewhite;
  text-align: center;
  font-weight: bold;
}

p {
  font-weight: bold;
  background-color: aquamarine;
}
